<ul class="menu">

    {% for faizan in site.data.menu %}
    {% if faizan.subcategories != null %}
    <li><a href="{{ faizan.href }}" class="page-link">{{ faizan.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in faizan.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ faizan.href }}" class="page-link">{{ faizan.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
